* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: #F5F7FA;
}

ul {
    display: flex;
    justify-content: center;
    gap: 25px;
    list-style: none;
    padding: 33px;
    background-color: #1E293B;
}

li a {
    text-decoration: none;
    color: #F9FAFB;
    transition: color 0.3s, border-bottom 0.3s;
}

li a:hover {
    color: #60A5FA;
    border-bottom: 2px solid #60A5FA;
}

h1 {
    text-align: center;
    padding: 30px 0px 30px 0px;
    color: #334155;
}

h2 {
    padding: 20px;
    text-align: center;
    color: #1E293B;
    text-decoration: underline;
}

p {
    text-align: center;
    color: #111827;
    padding: 0 80px 40px 80px;
    line-height: 1.6;
}